#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

phpscript = $(CURDIR)/usr/bin/rssReader
feeds = $(CURDIR)/etc/cw1-6005-yl20e11/feeds.conf
index = $(CURDIR)/usr/share/cw1-6005-yl20e11/index.php
rss = $(CURDIR)/usr/share/cw1-6005-yl20e11/rss_php.php

path1 = $(CURDIR)/debian/cw1-6005-yl20e11/usr/share/cw1-6005-yl20e11
path2 = $(CURDIR)/debian/cw1-6005-yl20e11/usr/bin
path3 = $(CURDIR)/debian/cw1-6005-yl20e11/etc/cw1-6005-yl20e11

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build clean $(phpscript) $(feeds) $(index) $(rss)
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_prep
	dh_installdirs
	
	mkdir -m 755 -p $(path1)
	mkdir -m 755 -p $(path2)
	mkdir -m 755 -p $(path3)

	install -m 644 $(index) $(path1)
	install -m 644 $(rss) $(path1)
	install -m 755 $(phpscript) $(path2)
	install -m 644 $(feeds) $(path3)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch bianry install
